<div class="navbar-text" title="Simple Failure Detection" id="sfd_nav">
    <div data-bind="visible: navbarEnabled(), text: status()">
        {# TODO: Implement the status #}
        {# Hello #}
    </div>
</div>