<div id="failure_detection_settings">
    <h4>Simple Failure Detection Settings</h4>

    <form class="form-horizontal" onsubmit="return false;">
        <p>
            This plugin collects data about your printer such as printing progress, name and webcam images, to use this plugin, you must consent to this being collected. We do not share this with any third parties or derive ads from it. You can disable and remove this plugin at any time, if you would like your data to be deleted please email gdpr@presspla.uk with your license key.
        </p>
        <div class="control-group">
            <label class="control-label" for="settings-serverRestartCommand">Enable</label>
            <div class="controls">
                <label class="checkbox mt-2">
                    <input type="checkbox" data-bind="checked: settings.plugins.simple_failure_detection.enabled" id="failureDetectionLicenseKeyEnabled"> 
                </label>
            </div>
        </div>

        <div class="control-group" title="Command to restart the OctoPrint server">
             <label class="control-label" for="failureDetectionLicenseKey">License Key</label>
            <div class="controls">
                <input class="input-text input-block-level" type="text" id="failureDetectionLicenseKey" data-bind="value: settings.plugins.simple_failure_detection.licenseKey">
            </div>
        </div>


        <hr>
        <div>
            <div><small><a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', parent: '.form-horizontal', container: '.hide' }"><i class="fas fa-caret-down"></i> Advanced options</a></small></div>
            <div class="hide" style="display: block;">
                <p>
                    Please only edit these settings if you know what you're doing!
                </p>
                <div class="control-group">
                    <label class="control-label" for="settings-serverRestartCommand">Debug</label>
                    <div class="controls">
                        <label class="checkbox mt-2">
                            <input type="checkbox" data-bind="checked: settings.plugins.simple_failure_detection.debug" id="failureDetectionLicenseKeyDebug"> 
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="settings-serverRestartCommand">Training mode</label>
                    <div class="controls">
                        <label class="checkbox mt-2">
                            <input type="checkbox" data-bind="checked: settings.plugins.simple_failure_detection.training" id="failureDetectionLicenseKeytraining"> 
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="failureDetectionEndpoint">Host Endpoint</label>
                    <div class="controls">
                        <label class="checkbox mt-2">
                            <input class="input-text input-block-level" type="text" id="failureDetectionEndpoint" data-bind="value: settings.plugins.simple_failure_detection.host">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>