<div id="failure_detection_settings">
    <h4>Failure Detection Settings</h4>

    <form class="form-horizontal" onsubmit="return false;">
        <p>
            <label for="failureDetectionLicenseKey"><strong>License Key</strong></label>
            <input class="input-text input-block-level" type="text" id="failureDetectionLicenseKey" data-bind="value: settings.settings.plugins.simple_failure_detection.licenseKey">
        </p>
        <hr/>
    </form>
</div>